<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="#"/>

</head>
<body>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input id="choosefile" type="file" name="file" value="请选择文件">
    <input type="button" onclick="mysubmit()" value="上传">
</form>

<script>
    var ip="000.192.168.0.153:8080";//默认ip
    init();
    function init() {
        ip=window.location.host;// 	URL 的主机（IP 地址或域名）和端口号。
        filelist();
    }

    function mysubmit(){
        var fileInput = document.getElementById("choosefile").files[0];
        console.info(fileInput);
        if(fileInput){
            document.forms[0].submit();
        }else{
            alert("请选择上传文件！");
        }
    }

    function filelist(path) {
        if(!path){
            var body=document.getElementsByTagName("body");
            body[0].innerHTML=body[0].innerHTML+"<table id=\"list\"></table>";
        }else {
            var body=document.getElementsByTagName("body");
            body[0].innerHTML="<table id=\"list\"></table>";
        }


        var xmlRequest = new XMLHttpRequest();
        xmlRequest.open("POST", "http://"+ip+"/filelist", true);
        xmlRequest.setRequestHeader("Content-type", "application/text");
        xmlRequest.responseType = "json";
        xmlRequest.onload = function () {

            if(xmlRequest.status == 200 ) {

                var files = xmlRequest.response;
                var list=document.getElementById("list");
                for (var i = 0; i < files.length ; i++) {
                    var map=files[i];

                    var tr=document.createElement("tr");

                    var td=document.createElement("td");

                    if(map.flag=="true"){
                        td.innerHTML="<img src=\"folder.jpg\" width=\"32\" height=\"32\">";
                    }else {
                        td.innerHTML="<img src=\"file.jpg\" width=\"32\" height=\"32\">";
                    }
                    var td1=document.createElement("td");
                    td1.innerText=map.path;
                    var td2=document.createElement("td");

                    if(map.flag=="true"){
                        td2.innerHTML="<button onclick=filelist(\""+map.path+"\")>打开</button>";
                    }else {
                        td2.innerHTML="<button onclick=download(\""+map.path+"\")>下载</button>";
                    }


                    tr.appendChild(td);
                    tr.appendChild(td1);
                    tr.appendChild(td2);
                    list.appendChild(tr);

                }

            } else {
                alert('获取文件列表失败');
            }


        };
        if(path){
            xmlRequest.send(path);
        }else {
            xmlRequest.send("/app");
        }
    }




    function download(fileName) {

        var xmlRequest = new XMLHttpRequest();
        xmlRequest.open("POST", "http://"+ip+"/download", true);
        xmlRequest.setRequestHeader("Content-type", "application/text");
        xmlRequest.responseType = "blob";
        xmlRequest.onload = function () {
            console.log(xmlRequest.status);
            if((xmlRequest.status >= 200 && xmlRequest.status < 300) || xmlRequest.status === 304) {
                if(!fileName) {
                    alert(xmlRequest.getResponseHeader('filename'));
                    fileName = decodeURI(xmlRequest.getResponseHeader('filename'));
                }

            } else {
                alert('下载失败');
            }
            var content = xmlRequest.response;
            var elink = document.createElement('a');
            elink.download = fileName || 'undifined';
            elink.style.display = 'none';
            var blob = new Blob([content]);
            elink.href = URL.createObjectURL(blob);
            console.log(URL.createObjectURL(blob))
            document.body.appendChild(elink);
            elink.click();
            document.body.removeChild(elink);

        };
        xmlRequest.send(fileName+"");

    }

</script>
</body>
</html>